.auth-bg {
    //background-color: #172b4d;
    background-image: url('../../../assets/img/logo/bg3.jpeg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}